input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=number],
input[type=date],
select,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #{$gray-200};
  line-height: 1.5rem;
  transition: border .5s, background-color 0.5s, color .5s;
}
input[type=button], input[type=submit] {
  line-height: 1.5rem;
  width:auto;
  &.form-submit {
    margin-left:0.5rem;
  }
  &.form-autocomplete {
    background-position: 98% center;
  }
}

.form-type-select {
  // For the dropdown-toggle we don't use the before
  .dropdown > .btn.dropdown-toggle {
    line-height: 1.5rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: border .25s, background-color 0.5s, color .25s;
    &:hover {
      color: #{$white};
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
  }

  select  {
    padding: 0.55rem 0.75rem;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: border .25s, background-color 0.5s, color .25s;
    &:hover {
      color: #{$white};
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
    &:before {
      display: block;
      position: absolute;
      width: 1px;
      top: 16px;
      right: 60px;
      bottom: 16px;
      content: "";
      opacity: .3;
    }
  }
}

.form-row > div.form-actions {
  padding-right: 0;
}


